/* Style for the header */
.header {
    background-color: #095097; /* Dark gray background */
    color: #ffffff; /* White text */
    padding: 1rem; /* Add some padding */
    text-align: center; /* Center align header content */
    width: 1300px; /* Set a specific width */
    margin: 0 auto; /* Center the header horizontally */
  }
  
  /* Style for the navigation links */
  .nav-link {
    color: black; 
    margin-right: 1rem; 
    text-decoration: none; 
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease; 
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }
  